* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    outline: 0;
}

:root {
    --primary-color: #671DF7;
    color-scheme: light;
}

body {
    font-family: 'Sora', sans-serif;
    width: 100%;
    height: 100vh;
    position: relative;

    background-color: #fff;
}

button {
    font-family: 'Sora', sans-serif;
    cursor: pointer;
}

svg {
    width: 100%;
}

img {
    width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

header {
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    

}

.header-content a {
    color: #fff;
}

.header-content img {
    margin-top: 70px;
    margin-bottom: 30px;
}

i {
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;

}

.vl {
    border-left: 3px solid #fff;
    height: 60px;
    margin-top: 70px;
    margin-bottom: 30px;
}

.header-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-icons .inst {
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;
    cursor: pointer;
}

.header-icons:hover {
    animation: scaleButton 0.8s alternate infinite;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0;
}

.bg-home {
    position: relative;
}

.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("/assets/Background.jpg");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: none;
    background-position-y: 95%;
    /* opacity: 0.9; */
}

.rasgo {
    position: relative;
    background-image: url(/assets/rasgo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero {
    color: white;
    min-height: 95vh;

    display: flex;
    flex-direction: column;

    margin: 55px auto 0px auto;
    /* gap: 20px; */
}

.hero a::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 20px;
    background: #f3f3f3;
    box-shadow: 0 0 20px #fff;
    filter: blur(5px);
    opacity: 0.9;
    top: -30px;
    left: -10px;
    transition: 0.7s;
    transform: rotate(-20deg) translateX(-70px);
}

.hero a:hover:before {
    transform: rotate(-20deg) translate(630px, 220px);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    overflow: hidden;
}

.container-text {
    display: inline-block;
    max-width: 569px;
}

.h-2 {
    font-family: "kaneda-gothic", sans-serif;
    color: #671DF7;
    /* font-weight: 300; */
    font-size: 165px;
    text-transform: uppercase;
    margin-top: -55px;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2.5s;
}

@keyframes typing {
    from {
        width: 0;
    }
}

.h-1 {
    font-family: "kaneda-gothic", sans-serif;
    font-weight: 500;
    font-size: 148px;
    text-transform: uppercase;

}

.h-text {
    font-size: 31px;
    max-width: 569px;
    margin-bottom: 66px;
    font-weight: 300;
}

.h-text strong {
    font-weight: 600;
}


.job1 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 51%, rgba(103, 29, 247, 1) 100%), url(/assets/job1.png);
    width: 100%;
    height: 370px;
    background-size: cover;
    border-radius: 10px;
}

.job2 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 51%, rgba(103, 29, 247, 1) 100%), url(/assets/job2.png);
    width: 100%;
    height: 370px;
    background-size: cover;
    border-radius: 10px;
}

.job3 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 51%, rgba(103, 29, 247, 1) 100%), url(/assets/job3.png);
    width: 100%;
    height: 370px;
    background-size: cover;
    border-radius: 10px;
}

.button-contact {
    max-width: 370px;
    padding: 10px 90px;
    text-align: center;
    color: #fff;
    background: var(--primary-color);
    border: 0;
    font-size: 30px;
    font-weight: 600;
    margin: 14px 0;
    animation: scaleButton 0.8s alternate infinite;
    overflow: hidden;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.04);
    }
}

.about {
    display: flex;
}

.about img {
    width: 100%;
    max-width: 600px;

}

.services {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 14px;
}

.services-content h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    margin-bottom: 14px;
}

.servics {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 16px;
    padding: 0 44px 34px 44px;
}

.service {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: 10px;
}
.services h1 {
    font-family: "kaneda-gothic", sans-serif;
    font-weight: 400;
    font-size: 100px;
}
.service strong {
    font-size: 20px;
    font-weight: 600;
}

.service img {
    width: 100%;
    max-width: 354px;
}

.service p {
    max-width: 300px;
    margin-top: 10px;
}

.objetivos {
    max-width: 1440px;
    width: 100%;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    
    /* align-items: center; */
    gap: 30px;
}

.objetivos p {
    font-size: 35px;
    
}

.obj {
    width: 100%;
    max-width: 500px;
}

.acoes {
    max-width: 1440px;
    width: 100%;
    margin-top: 82px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.acoes li {
    font-size: 25px;
}

.act {
    width: 100%;
    max-width: 300px;
}

.bg-sobre {
    position: relative;
}

.bg-sobre::before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(167deg, rgba(0, 0, 0, 1) 55%, rgba(103, 29, 247, 1) 100%);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: none;
    min-height: 30vh;
}

.rasgo2 {


    background-image: url(/assets/rasgo2.svg);
    background-repeat: no-repeat;

}

.sobre {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin-left: 253px;
    gap: 20px;
    color: white;

}

.sobre p {
    text-align: justify;
    font-size: 30px;
}

.sobre h1 {
    margin-top: 300px;
    font-size: 100px;
    font-family: "kaneda-gothic", sans-serif;
}

.sobre a::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 20px;
    background: #f3f3f3;
    box-shadow: 0 0 20px #fff;
    filter: blur(5px);
    opacity: 0.9;
    top: -30px;
    left: -10px;
    transition: 0.9s;
    transform: rotate(-20deg) translateX(-70px);
}

.sobre a:hover:before {
    transform: rotate(-20deg) translate(500px, 200px);
}

.btn-sobre {
    margin: 100px auto 0 auto;
    margin-bottom: 200px;
    overflow: hidden;
}

.footer {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 38px 0;
    gap: 10px;
    color: #fff;
    height: 2px;
}

.footer img {
    width: 150px;
}

.footer p {
    font-size: 12px;
}

@media screen and (max-width: 1600px) {
    .bg-home::before {
        background-position: 40% 0%;

    }

    .hero {
        margin-left: 220px;
    }
}



@media screen and (max-width: 1280px) {
    .hero {
        margin: 100px auto 50px 90px;
    }

    .bg-home::before {
        background-position: 60% 0%;

    }
}

@media screen and (max-width: 780px) {
    .hero {
        color: white;
        min-height: 75vh;

        display: flex;
        flex-direction: column;
        /* align-items: center; */

        margin: 30px auto 50px 15px;
        /* gap: 140px; */
    }

    .h-2 {
        font-family: "kaneda-gothic", sans-serif;
        /* font-weight: 300; */
        font-size: 121px;
        text-transform: uppercase;
        margin-top: -35px;
    }

    .h-1 {
        font-family: "kaneda-gothic", sans-serif;
        font-weight: 500;
        font-size: 108px;
        text-transform: uppercase;
    }

    .h-text {
        font-size: 25px;
        max-width: 440px;
        margin-bottom: 46px;
    }

    .button-contact {
        padding: 10px 30px;
    }

    .servics {

        flex-direction: column;
    }
}

@media screen and (max-width: 546px) {
    .bg-home::before {
        background-position-x: 47%;


    }

    .hero {
        margin-top: 70px;

    }

    .about-content {
        width: 450px;
    }

    .button-contact {

        padding: 10px 30px;
    }
}

@media screen and (max-width: 467px) {
    .header-logo {
        width: 100px;
    }

    .bg-home::before {
        background-position-x: 80%;
        background-position-y: 5px;

    }

    .vl {
        border-left: 3px solid #fff;
        height: 40px;
        margin-top: 70px;
        
    }

    .header-content {
        max-width: 300px;
        gap: 10px;

    }

    .header-content a {
        font-size: 14px;
    }

    .hero {
        margin: 30px auto 50px auto;
        align-items: center;
    }

    .h-2 {
        font-family: "kaneda-gothic", sans-serif;
        
        font-size: 88px;
        text-transform: uppercase;
        margin-top: -25px;
    }

    .h-1 {
        font-family: "kaneda-gothic", sans-serif;
        font-weight: 500;
        font-size: 80px;
        text-transform: uppercase;
    }

    .h-text {
        font-size: 17px;
        max-width: 289px;
        margin-bottom: 76px;
    }

    .button-contact {
        max-width: 200px;
        padding: 10px 30px;
        text-align: center;
        color: #fff;
        background-color: var(--primary-color);
        border: 0;
        font-size: 20px;
        font-weight: 600;
        margin: 14px 0;

    }

    .about-content {
        width: 350px;
    }

    .services h1 {
        font-size: 60px;
        
    }

    .servics {

        flex-direction: column;
    }
    .objetivos p {
        font-size: 25px;
        }

    .acoes ul {
        margin-left: 15px;
        max-width: 350px;
    }

    .acoes li {
        font-size: 18px;
    }

    .sobre {
        margin-left: 20px;
    }

    .sobre h1 {
        font-size: 60px;
        margin-top: 100px;
    }

    .sobre p {
        max-width: 350px;
        font-size: 16px;
        text-align: start;
    }

    .btn-sobre {
        margin-left: 55px;
        margin-top: 50px;
        margin-bottom: 100px;
    }

    .footer {

        padding: 20px 0;
        gap: 5px;
    }

    .footer img {
        margin-top: 5px;
        width: 50px;
    }

    .footer p {
        text-align: center;
        font-size: 7px;
    }
}

@media screen and (max-width: 380px) {
    .bg-home::before {
        background-position: 60%;
        /*  background-position-y: 70px; */

    }

    .header-content img {
        margin-top: 30px;
    }

    i {
        color: white;
        margin-top: 30px;

    }

    .vl {
        border-left: 3px solid #fff;
        height: 60px;
        margin-top: 30px;
        
    }

    .header-icons .inst {
        color: white;
        margin-top: 30px;
        cursor: pointer;
    }

    .about-content {
        width: 320px;
    }
    .btn-sobre {
        margin-left: 40px;
    }
}